<li class="list-group-item" [ngClass]="{
      'list-group-item-success': post.loveIts > 0,
      'list-group-item-danger': post.loveIts < 0
    }">
  <div class="row">
    <h2 class="col-8">{{post.title}}</h2>
    <p class="col-4 text-right text-uppercase font-italic">{{ post.created_at | date: 'short':'':'fr-FR' }}</p>
  </div>
  <div class="row">
    <p class="col-12">{{post.content}}</p>
  </div>
  <div class="btn-toolbar">
    <button type="button" class="btn btn-success"  (click)="updateLikes('add')">Love it!</button>
    <button type="button" class="btn btn-danger" (click)="updateLikes('remove')">Don't love it!</button>
  </div>
</li>
